{%- for nav in navbar.left %}
    <a class="hover:text-blue-800 capitalize px-5 lg:px-2 hover:bg-gray-100 lg:bg-transparent py-2 relative z-30" role="menuitem" href="/{{nav}}" > {{ nav }} </a>
{% endfor -%}